<%= render "layouts/sidemenu"%>
<div class="setups-index-container">
  <%= link_to 'プロフィール編集/作成した募集のステータス確認',user_path(current_user), class: 'setups-index-item' %>
  <%= link_to '作成した募集一覧', boards_path, class: 'setups-index-item' %>
  <%= link_to '新規の募集を作成', new_board_path, class: 'setups-index-item' %>
  <%= link_to '応募状況', boards_requests_path, class: 'setups-index-item' %>
  <%= link_to 'チャットルーム', chatrooms_path, class: 'setups-index-item' %>
</div>