<%= form_with model:@slide_images, local: true do |form|%>
  <% (1..3).each do |i| %>
    <% if slide_image = @user.slide_images.find_by(position: i) %>
        <%= image_tag slide_image.image, class: "user-icon" if slide_image.image.attached? %>
      <% else %>
        <p>No image found for position <%= i %></p>
    <% end %>
    <div>
      <%= form.label "images_#{i}", "Upload Image #{i}" %>
      <%= form.file_field "users_slide[images][]", multiple: false %> <!-- 画像は一つずつ選択 -->
      <%= form.label "position#{i}", "Position" %>
      <%= form.number_field "users_slide[positions][]", value: i %> <!-- デフォルトでiを設定 -->
    </div>
  <% end %>
  <div>
    <%= form.submit "Upload Slides" %>
  </div>
<%end%>