<%= render "layouts/sidemenu" %>
<% breadcrumb :chatrooms_show,@chatroom %>
<%= render 'layouts/breadcrumbs' %>

<div class="chatroom">
  <input type="hidden" id="chatroom-id" value="<%= @chatroom.id %>" />
  <div class="chatroom-name">
    <%= @chatroom.name %>
    <div class="chatroom-user-add">
      <%= link_to user_add_chatroom_path do %>
        <i class="bi bi-person-plus"></i>
      <% end %>
    </div>
  </div>
  <%= render "users_left_index" %>
  <div class="chat-container">
    <div class="messages">
      <% @messages.each do |message| %>
        <div class="message">
            <div class="message-header">
              <div class="user-icon-box">
                <%= image_tag(message.user.icon_image, class: "user-icon-chat") if message.user.icon_image.attached? %>
              </div>
              <div class="message-info">
                <strong><%= message.user.name %></strong>
              </div>
            </div>
            <div class="message-content">
              <%= message.content %>
            </div>
            <div class="timestamp-box">
              <span class="timestamp"><%= l(message.created_at, format: :short) %></span>
            </div>
        </div>
      <% end %>
    </div>
  
    <div class="new_message">
      <%= form_with(model: [@chatroom, Message.new], local: true) do |form| %>
        <div class="chat-field">
          <%= form.text_area :content, id: 'message_content', data: { behavior: "chat_speaker" }, placeholder: 'メッセージを入力してください', rows: 3, class: "chat-text-area" %>
        </div>
        <div class="actions">
          <%= form.submit "Send", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @boards %>
    <% if @boards.user_id == current_user.id%>
        <div>
          <%= form_with url: @chatroom, method: :delete, data: { turbo: false }, html: { onsubmit: "return confirm('本当にチャットルームを削除しますか?');" } do %>
            <button type="submit" class="btn btn-danger">チャットルームを削除</button>
          <% end %>
        </div>
    <% end%>
  <% else %>
    <div>
      <%= form_with url: @chatroom, method: :delete, data: { turbo: false }, html: { onsubmit: "return confirm('本当にチャットルームを削除しますか?');" } do %>
        <button type="submit" class="btn btn-danger">チャットルームを削除</button>
      <% end %>
    </div>
  <% end %>
</div>

<div class = "chatroom-videochat-box">
  <h1>ビデオ/ボイスチャットルーム</h1>
  <input type="hidden" id="room-id" value="<%= @chatroom.id %>" />
  
  <div>Random User ID:
    <span id="current-user"><%= current_user.id%></span>
  </div>
  
  <div id="remote-video-container">
  <div id="remote-user-icon-container" style="display: none;">
  </div>
    
  </div>
  <div id="local-video-container">
    <video id="local-video" autoplay></video>
    <div id="user-icon-container" style="display: none;">
      <% if current_user.icon_image.attached? %>
        <img id="user-icon" src="<%= url_for(current_user.icon_image) %>" alt="User Icon" class="user-icon-voice-chat" />
      <% else %>
        <img id="user-icon" src="<%= asset_path('default_user_icon.png') %>" alt="Default User Icon" class="user-icon-voice-chat" />
      <% end %>
    </div>
  </div>
  <div class = "video-audio-select">
    <label for="video-select">Select Video Device:</label>
    <select id="video-select"></select>
  </div>
  <div class = "video-audio-select">
    <label for="audio-select">Select Audio Device:</label>
    <select class = "audio-select" id="audio-select"></select>
  </div>
  <button id="startButton">カメラとマイクを許可</button>
  <hr />
  
  <button id="join-button">
    ボイスルームに参加する
  </button>
  
  <button id="leave-button">
    ボイスルームから退出する
  </button>
</div>