<%= render "layouts/sidemenu" %>

<div class="chatroom">
  <input type="hidden" id="chatroom-id" value="<%= @chatroom.id %>" />
  <div class="chatroom-name">
    <%= @chatroom.name %>
    <div class="chatroom-user-add">
      <%= link_to user_add_chatroom_path do %>
        <i class="bi bi-person-plus"></i>
      <% end %>
    </div>
  </div>
  <%= render "users_left_index" %>
  <div class="chat-container">
    <div class="messages">
      <% @messages.each do |message| %>
        <div class="message">
            <div class="message-header">
              <div class="user-icon-box">
                <%= image_tag(message.user.icon_image, class: "user-icon-chat") if message.user.icon_image.attached? %>
              </div>
              <div class="message-info">
                <strong><%= message.user.name %></strong>
              </div>
            </div>
            <div class="message-content">
              <%= message.content %>
            </div>
            <div class="timestamp-box">
              <span class="timestamp"><%= l(message.created_at, format: :short) %></span>
            </div>
        </div>
      <% end %>
    </div>
  
    <div class="new_message">
      <%= form_with(model: [@chatroom, Message.new], local: true) do |form| %>
        <div class="chat-field">
          <%= form.text_area :content, id: 'message_content', data: { behavior: "chat_speaker" }, placeholder: 'メッセージを入力してください', rows: 3, class: "chat-text-area" %>
        </div>
        <div class="actions">
          <%= form.submit "Send", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @boards.user_id == current_user.id%>
      <div class = "chatroom_delete_link">
        <%= link_to 'Delete Chatroom', @chatroom, method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当にチャットルームを削除しますか?' }, class: "btn btn-danger" %>
      </div>
  <% end%>
</div>