<%= render "layouts/sidemenu"%>
<h1>User Profile</h1>

<div class= "user_icon_box">
<%= image_tag(@user.icon_image.attached? ? @user.icon_image : 'default_user_icon.png',class: "user-icon") %>
</div>

<div class="profile_text_box">
  <div>
    <strong>Name:</strong>
    <%= @user.name %>
  </div>
  
  <div>
    <strong>Gender:</strong>
    <%= @user.gender %>
  </div>
  
  <div>
    <strong>Age:</strong>
    <%= @user.age %>
  </div>

  <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
</div>
