<%= form_with(model: @board, local: true) do |form| %>
    <% if @board.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>
  
        <ul>
          <% @board.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :boards_gametitle_id %>
      <%= form.number_field :boards_gametitle_id %>
    </div>
  
    <div class="field">
      <%= form.label :playstyle %>
      <%= form.text_field :playstyle %>
    </div>
  
    <div class="field">
      <%= form.label :number_of_people %>
      <%= form.number_field :number_of_people %>
    </div>
  
    <div class="field">
      <%= form.label :openchanger %>
      <%= form.check_box :openchanger %>
    </div>
  
    <div class="field">
      <%= form.label :boards_tag_id %>
      <%= form.number_field :boards_tag_id %>
    </div>
  
    <div class="field">
      <%= form.label :playtime %>
      <%= form.datetime_select :playtime %>
    </div>
  
    <div class="field">
      <%= form.label :freetext %>
      <%= form.text_area :freetext %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>