<%= render "layouts/sidemenu"%>
<% breadcrumb :boards_edit,@board %>
<%= render 'layouts/breadcrumbs' %>
<%= render 'form' %>

<div>
  <%= form_with url: @board, method: :delete, data: { turbo: false }, html: { onsubmit: "return confirm('本当に募集版を削除しますか?');" } do %>
      <button type="submit" class="btn btn-danger">募集版を削除</button>
  <% end %>
</div>
<%= link_to 'Back', boards_path %>