<h1>Boards#show</h1>
<p>Find me in app/views/boards/show.html.erb</p>

<p>
  <strong>Gametitle:</strong>
  <%= @board.boards_gametitle_id %>
</p>

<p>
  <strong>Playstyle:</strong>
  <%= @board.playstyle %>
</p>

<p>
  <strong>Number of People:</strong>
  <%= @board.number_of_people %>
</p>

<p>
  <strong>Openchanger:</strong>
  <%= @board.openchanger %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @board.boards_tag_id %>
</p>

<p>
  <strong>Playtime:</strong>
  <%= @board.playtime %>
</p>

<p>
  <strong>Freetext:</strong>
  <%= @board.freetext %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
