<%= render "layouts/sidemenu"%>

<div class="boards_show_container">
  <div class="boards_show_left">
    <div class="boards_show_left_title">
      募集版詳細
    </div>
    <div class="boards_show_board_box">   
      <%= render "showboardbox", board: @board %>
    </div>
  </div>

  <div class="boards_show_right">
    <div class="boards_show_right_title">
     この募集に応募する
    </div>
    <div class="board_show_request_box">
      <%= form_with(model: [@board, BoardsRequest.new], local: true) do |form| %>
        <% if form.object.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this board request from being saved:</h2>
            <ul>
              <% form.object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="board_show_request_freetext">
          <%= form.text_area :freetext, class: 'show-custom-textarea' %>
        </div>

        <div class="board_show_request_playtime">
          <%= form.time_field :playtime, class: 'custom-input' %>まで
        </div>

        <div class="board_show_request_submit">
          <%= form.submit '応募する',class: 'show_submit_button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>