<%= render "layouts/sidemenu"%>

<div class = "boardsrequests_show_title">
  募集条件
</div>

<div class="show_boardsrequests_box">   
  <%= render "showboardrequestbox", board: @board %>
</div>

<div class = "boardsrequests_show_usertitle">
  応募中ユーザー
</div>

<div class="show_boardsrequestuser_box">   
  <% @board_requests.each do |board_request| %>
    <%= render "showboardrequestuserbox", board_request: board_request %>
    <%= button_to '応募を許可', approve_board_boards_request_path(board_request.board, board_request), method: :post, class: 'approve_button' %>
  <% end %>
</div>

<% @board_requests.each do |board_request| %>
    <%= board_request.user.name %>
<% end %>