<div class="sidemenu">
  <%= link_to "Menu", setups_path %>
  <%= link_to "プロフィール",user_path(current_user) %>
  <%= link_to "募集作成",new_board_path%>
  <%= link_to "募集一覧",boards_path%>
  <%= link_to "応募状況",boards_requests_path%>
  <%= link_to "チャットルーム","/"%>
  <%= link_to "ログアウト","/"%>
</div>